package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.person.norma.basiccommon.gererator.common.AbstractCrudService;
import com.person.norma.basiccommon.core.PageQuery;
import com.baomidou.mybatisplus.core.metadata.IPage;
import java.util.List;
import java.util.Map;

/**
 * @Author： ${author}
 * @Description： $!{table.comment} 服务类
 * @Date： ${date}
 * @Modified By：
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends AbstractCrudService<${entity}> {

}
#end
